$main_background: hsl(233, 47%, 7%); //(main background)
$card_background: hsl(244, 38%, 16%); //(card background)
$accent: hsl(277, 64%, 61%); // (accent)

$White: hsl(0, 0%, 100%); //(main heading, stats)
$main_paragraph: hsla(0, 0%, 100%, 0.75); //(main paragraph)
$stats_heading: hsla(0, 0%, 100%, 0.6); //(stat headings)
